<div class="modal geo-location">
  <div class="modal-inner modal-inner-center">
    <div class="modal-wht-header">
      <div class="Header__Logo"><a href="/" class="Header__LogoLink">
      <img class="Header__LogoImage Header__LogoImage--primary lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-srcset="//cdn.shopify.com/s/files/1/0323/5574/5932/files/REG_Website_logo_6_350x_1c1a5840-45b0-4894-ae16-5bc83ea6e092_350x.png?v=1598706951 1x, //cdn.shopify.com/s/files/1/0323/5574/5932/files/REG_Website_logo_6_350x_1c1a5840-45b0-4894-ae16-5bc83ea6e092_350x@2x.png?v=1598706951 2x" width="350" alt="frenchcrown"></a></div>
      <div class="modal-buttons">
        &nbsp;
        <a class="close"> X </a>
      </div>
    </div>
    
    <div>
      <div class="first_side" style="padding: 15px;">
        <div class="top-title">Hello! It's nice to see you</div>
        <div class="gleheader"><div class="glTitle">We ship to <span class="country_name"></span></div></div>
        <span class="change-country__body--separator"></span>
        <div class="model-wht-txt">It looks like you're visiting us from: </div> 
        <div class="model-wht-txt" style="font-weight: 600;"><span class="country_name"></span></div>
        <br>
        <div class="model-wht-txt">We have a <span class="currency_name"></span> currency</div>
        <div class="model-wht-txt">website just for you.</div>
        <span class="change-country__body--separator"></span>
<!-- 		<span class="model-wht-txt">Shop in</span> -->
        <div class="modal-btn-bottom">
        	<a class="Button Button--primary change_currency">
              SHOP IN <span class="currency_code_name" style="margin-left: 6px;"></span>
          	</a>
        </div>
        
        <div class="changeShipping model-wht-txt">Change your country/currency</div>
      </div>
      
      <div class="second_side" style="padding: 15px;display: none;">
        <div class="gleheader"><div class="glTitle">Now Shipping Worldwide</div></div>
        
		<div class="glMainContent">
          <div class="dropDownRow">
            <div class="caption" data-key="CountryHeader">Change your shipping country</div>
            <div class="dropdown" data-control="SelectedCountries">
              <select id="gle_selectedCountry">
                <option data-currency="80" value="AL">Albania</option>
                <option data-currency="6" value="DZ">Algeria</option>
                <option data-currency="1" value="AS">American Samoa</option>
                <option data-currency="3" value="AD">Andorra</option>
                <option data-currency="49" value="AI">Anguilla</option>
                <option data-currency="49" value="AG">Antigua and Barbuda</option>
                <option data-currency="7" value="AR">Argentina</option>
                <option data-currency="8" value="AM">Armenia</option>
                <option data-currency="9" value="AW">Aruba</option>
                <option data-currency="10" value="AU">Australia</option>
                <option data-currency="3" value="AT">Austria</option>
                <option data-currency="11" value="AZ">Azerbaijan</option>
                <option data-currency="12" value="BS">Bahamas</option>
                <option data-currency="13" value="BH">Bahrain</option>
                <option data-currency="140" value="BD">Bangladesh</option>
                <option data-currency="16" value="BB">Barbados</option>
                <option data-currency="3" value="BY">Belarus</option>
                <option data-currency="3" value="BE">Belgium</option>
                <option data-currency="18" value="BZ">Belize</option>
                <option data-currency="29" value="BJ">Benin</option>
                <option data-currency="19" value="BM">Bermuda</option>
                <option data-currency="103" value="BT">Bhutan</option>
                <option data-currency="21" value="BO">Bolivia</option>
                <option data-currency="1" value="BQ">Bonaire, Saint Eustatius and Saba</option>
                <option data-currency="36" value="BA">Bosnia and Herzegovina</option>
                <option data-currency="114" value="BW">Botswana</option>
                <option data-currency="22" value="BR">Brazil</option>
                <option data-currency="1" value="VG">British Virgin Islands</option>
                <option data-currency="23" value="BN">Brunei Darussalam</option>
                <option data-currency="24" value="BG">Bulgaria</option>
                <option data-currency="119" value="KH">Cambodia</option>
                <option data-currency="26" value="CA">Canada</option>
                <option data-currency="27" value="CV">Cape Verde</option>
                <option data-currency="28" value="KY">Cayman Islands</option>
                <option data-currency="32" value="CL">Chile</option>
                <option data-currency="156" value="CN">China</option>
                <option data-currency="33" value="CO">Colombia</option>
                <option data-currency="34" value="KM">Comoros</option>
                <option data-currency="102" value="CK">Cook Islands</option>
                <option data-currency="38" value="CR">Costa Rica</option>
                <option data-currency="39" value="HR">Croatia</option>
                <option data-currency="99" value="CW">Curacao</option>
                <option data-currency="3" value="CY">Cyprus</option>
                <option data-currency="41" value="CZ">Czech Republic</option>
                <option data-currency="43" value="DK">Denmark</option>
                <option data-currency="45" value="DJ">Djibouti</option>
                <option data-currency="49" value="DM">Dominica</option>
                <option data-currency="47" value="DO">Dominican Republic</option>
                <option data-currency="1" value="TP">East Timor</option>
                <option data-currency="1" value="EC">Ecuador</option>
                <option data-currency="50" value="EG">Egypt</option>
                <option data-currency="1" value="SV">El Salvador</option>
                <option data-currency="96" value="ER">Eritrea</option>
                <option data-currency="3" value="EE">Estonia</option>
                <option data-currency="52" value="ET">Ethiopia</option>
                <option data-currency="53" value="FK">Falkland Islands</option>
                <option data-currency="43" value="FO">Faroe Islands</option>
                <option data-currency="54" value="FJ">Fiji</option>
                <option data-currency="3" value="FI">Finland</option>
                <option data-currency="3" value="FR">France</option>
                <option data-currency="77" value="GE">Georgia</option>
                <option data-currency="3" value="DE">Germany</option>
                <option data-currency="2" value="GI">Gibraltar</option>
                <option data-currency="3" value="GR">Greece</option>
                <option data-currency="43" value="GL">Greenland</option>
                <option data-currency="49" value="GD">Grenada</option>
                <option data-currency="3" value="GP">Guadeloupe</option>
                <option data-currency="1" value="GU">Guam</option>
                <option data-currency="116" value="GT">Guatemala</option>
                <option data-currency="2" value="GG">Guernsey</option>
                <option data-currency="60" value="GN">Guinea</option>
                <option data-currency="29" value="GW">Guinea-Bissau</option>
                <option data-currency="61" value="GY">Guyana</option>
                <option data-currency="58" value="HT">Haiti</option>
                <option data-currency="81" value="HN">Honduras</option>
                <option data-currency="62" value="HK">Hong Kong</option>
                <option data-currency="55" value="HU">Hungary</option>
                <option data-currency="64" value="IS">Iceland</option>
                <option data-currency="65" ected="true" value="IN">India</option>
                <option data-currency="67" value="IQ">Iraq</option>
                <option data-currency="3" value="IE">Ireland (Republic of)</option>
                <option data-currency="2" value="IM">Isle of Man</option>
                <option data-currency="4" value="IL">Israel</option>
                <option data-currency="3" value="IT">Italy</option>
                <option data-currency="68" value="JM">Jamaica</option>
                <option data-currency="155" value="JP">Japan</option>
                <option data-currency="2" value="JE">Jersey</option>
                <option data-currency="69" value="JO">Jordan</option>
                <option data-currency="143" value="KZ">Kazakhstan</option>
                <option data-currency="70" value="KE">Kenya</option>
                <option data-currency="10" value="KI">Kiribati</option>
                <option data-currency="153" value="KR">Korea (South)</option>
                <option data-currency="73" value="KW">Kuwait</option>
                <option data-currency="130" value="KG">Kyrgyzstan</option>
                <option data-currency="72" value="LA">Laos</option>
                <option data-currency="3" value="LV">Latvia</option>
                <option data-currency="79" value="LB">Lebanon</option>
                <option data-currency="87" value="LS">Lesotho</option>
                <option data-currency="84" value="LY">Libya</option>
                <option data-currency="138" value="LI">Liechtenstein</option>
                <option data-currency="3" value="LT">Lithuania</option>
                <option data-currency="3" value="LU">Luxembourg</option>
                <option data-currency="110" value="MO">Macau</option>
                <option data-currency="88" value="MG">Madagascar</option>
                <option data-currency="74" value="MW">Malawi</option>
                <option data-currency="89" value="MY">Malaysia</option>
                <option data-currency="120" value="MV">Maldives</option>
                <option data-currency="3" value="MT">Malta</option>
                <option data-currency="1" value="MH">Marshall Islands</option>
                <option data-currency="3" value="MQ">Martinique</option>
                <option data-currency="2" value="MR">Mauritania</option>
                <option data-currency="90" value="MU">Mauritius</option>
                <option data-currency="91" value="MX">Mexico</option>
                <option data-currency="1" value="FM">Micronesia</option>
                <option data-currency="92" value="MD">Moldova</option>
                <option data-currency="3" value="MC">Monaco</option>
                <option data-currency="145" value="MN">Mongolia</option>
                <option data-currency="3" value="ME">Montenegro</option>
                <option data-currency="49" value="MS">Montserrat</option>
                <option data-currency="93" value="MA">Morocco</option>
                <option data-currency="94" value="MZ">Mozambique</option>
                <option data-currency="97" value="NA">Namibia</option>
                <option data-currency="10" value="NR">Nauru</option>
                <option data-currency="98" value="NP">Nepal</option>
                <option data-currency="3" value="NL">Netherlands</option>
                <option data-currency="99" value="AN">Netherlands Antilles</option>
                <option data-currency="31" value="NC">New Caledonia</option>
                <option data-currency="102" value="NZ">New Zealand</option>
                <option data-currency="37" value="NI">Nicaragua</option>
                <option data-currency="95" value="NG">Nigeria</option>
                <option data-currency="102" value="NU">Niue</option>
                <option data-currency="44" value="MK">North Macedonia</option>
                <option data-currency="1" value="MP">Northern Mariana Islands</option>
                <option data-currency="105" value="NO">Norway</option>
                <option data-currency="118" value="OM">Oman</option>
                <option data-currency="109" value="PK">Pakistan</option>
                <option data-currency="1" value="PW">Palau</option>
                <option data-currency="1" value="PA">Panama</option>
                <option data-currency="71" value="PG">Papua New Guinea</option>
                <option data-currency="59" value="PY">Paraguay</option>
                <option data-currency="106" value="PE">Peru</option>
                <option data-currency="113" value="PH">Philippines</option>
                <option data-currency="159" value="PL">Poland</option>
                <option data-currency="3" value="PT">Portugal</option>
                <option data-currency="1" value="PR">Puerto Rico</option>
                <option data-currency="115" value="QA">Qatar</option>
                <option data-currency="3" value="RE">Reunion</option>
                <option data-currency="100" value="RO">Romania</option>
                <option data-currency="122" value="RU">Russia</option>
                <option data-currency="49" value="KN">Saint Kitts and Nevis</option>
                <option data-currency="49" value="LC">Saint Lucia</option>
                <option data-currency="141" value="WS">Samoa</option>
                <option data-currency="3" value="SM">San Marino</option>
                <option data-currency="46" value="ST">Sao Tome and Principe</option>
                <option data-currency="125" value="SA">Saudi Arabia</option>
                <option data-currency="29" value="SN">Senegal</option>
                <option data-currency="126" value="RS">Serbia</option>
                <option data-currency="127" value="SC">Seychelles</option>
                <option data-currency="128" value="SG">Singapore</option>
                <option data-currency="3" value="SK">Slovak Republic</option>
                <option data-currency="3" value="SI">Slovenia</option>
                <option data-currency="129" value="SB">Solomon Islands</option>
                <option data-currency="117" value="ZA">South Africa</option>
                <option data-currency="3" value="ES">Spain</option>
                <option data-currency="134" value="LK">Sri Lanka</option>
                <option data-currency="3" value="BL">St Barthelemy</option>
                <option data-currency="135" value="SD">Sudan</option>
                <option data-currency="136" value="SR">Suriname</option>
                <option data-currency="85" value="SZ">Swaziland</option>
                <option data-currency="137" value="SE">Sweden</option>
                <option data-currency="138" value="CH">Switzerland</option>
                <option data-currency="101" value="TW">Taiwan</option>
                <option data-currency="142" value="TZ">Tanzania</option>
                <option data-currency="14" value="TH">Thailand</option>
                <option data-currency="108" value="TO">Tonga</option>
                <option data-currency="144" value="TT">Trinidad and Tobago</option>
                <option data-currency="146" value="TN">Tunisia</option>
                <option data-currency="147" value="TR">Turkey</option>
                <option data-currency="1" value="TC">Turks and Caicos Islands</option>
                <option data-currency="10" value="TV">Tuvalu</option>
                <option data-currency="63" value="UA">Ukraine</option>
                <option data-currency="149" value="AE">United Arab Emirates</option>
                <option data-currency="2" value="GB">United Kingdom</option>
                <option data-currency="1" value="US">United States</option>
                <option data-currency="112" value="UY">Uruguay</option>
                <option data-currency="151" value="UZ">Uzbekistan</option>
                <option data-currency="152" value="VU">Vanuatu</option>
                <option data-currency="20" value="VE">Venezuela</option>
                <option data-currency="48" value="VN">Vietnam</option>
                <option data-currency="1" value="VI">Virgin Islands (U.S.)</option>
                <option data-currency="157" value="ZM">Zambia</option>
                <option data-currency="158" value="ZW">Zimbabwe</option>
              </select>
            </div>
          </div>
          <div class="dropDownRow">
            <div class="caption" data-key="CurrencyHeader">Change currency</div>
            <div class="dropdown" data-control="CurrenciesList">
              <select id="gle_selectedCurrency">
                <option data-currencyid="5" value="AFN">Afghani</option>
                <option data-currencyid="6" value="DZD">Algerian Dinar</option>
                <option data-currencyid="7" value="ARS">Argentine Peso</option>
                <option data-currencyid="8" value="AMD">Armenian Dram</option>
                <option data-currencyid="9" value="AWG">Aruban Florin</option>
                <option data-currencyid="10" value="AUD">Australian Dollar</option>
                <option data-currencyid="11" value="AZN">Azerbaijanian Manat</option>
                <option data-currencyid="12" value="BSD">Bahamian Dollar</option>
                <option data-currencyid="13" value="BHD">Bahraini Dinar</option>
                <option data-currencyid="14" value="THB">Baht</option>
                <option data-currencyid="15" value="PAB">Balboa</option>
                <option data-currencyid="16" value="BBD">Barbados Dollar</option>
                <option data-currencyid="18" value="BZD">Belize Dollar</option>
                <option data-currencyid="19" value="BMD">Bermudian Dollar</option>
                <option data-currencyid="20" value="VES">Venezuelan Bolívar</option>
                <option data-currencyid="21" value="BOB">Boliviano</option>
                <option data-currencyid="22" value="BRL">Brazilian Real</option>
                <option data-currencyid="23" value="BND">Brunei Dollar</option>
                <option data-currencyid="24" value="BGN">Bulgarian Lev</option>
                <option data-currencyid="25" value="BIF">Burundi Franc</option>
                <option data-currencyid="26" value="CAD">Canadian Dollar</option>
                <option data-currencyid="27" value="CVE">Cape Verde Escudo</option>
                <option data-currencyid="28" value="KYD">Cayman Islands Dollar</option>
                <option data-currencyid="29" value="XOF">CFA Franc BCEAO</option>
                <option data-currencyid="30" value="XAF">CFA Franc BEAC</option>
                <option data-currencyid="31" value="XPF">CFP Franc</option>
                <option data-currencyid="32" value="CLP">Chilean Peso</option>
                <option data-currencyid="33" value="COP">Colombian Peso</option>
                <option data-currencyid="34" value="KMF">Comoro Franc</option>
                <option data-currencyid="35" value="CDF">Congolese Franc</option>
                <option data-currencyid="36" value="BAM">Convertible Mark</option>
                <option data-currencyid="37" value="NIO">Cordoba Oro</option>
                <option data-currencyid="38" value="CRC">Costa Rican Colon</option>
                <option data-currencyid="39" value="HRK">Croatian Kuna</option>
                <option data-currencyid="40" value="CUP">Cuban Peso</option>
                <option data-currencyid="41" value="CZK">Czech Koruna</option>
                <option data-currencyid="42" value="GMD">Dalasi</option>
                <option data-currencyid="43" value="DKK">Danish Krone</option>
                <option data-currencyid="44" value="MKD">Denar</option>
                <option data-currencyid="45" value="DJF">Djibouti Franc</option>
                <option data-currencyid="46" value="STD">Dobra</option>
                <option data-currencyid="47" value="DOP">Dominican Peso</option>
                <option data-currencyid="48" value="VND">Dong</option>
                <option data-currencyid="49" value="XCD">East Caribbean Dollar</option>
                <option data-currencyid="50" value="EGP">Egyptian Pound</option>
                <option data-currencyid="52" value="ETB">Ethiopian Birr</option>
                <option data-currencyid="3" value="EUR">Euro</option>
                <option data-currencyid="53" value="FKP">Falkland Islands Pound</option>
                <option data-currencyid="54" value="FJD">Fiji Dollar</option>
                <option data-currencyid="55" value="HUF">Forint</option>
                <option data-currencyid="56" value="GHS">Ghana Cedi</option>
                <option data-currencyid="58" value="HTG">Gourde</option>
                <option data-currencyid="59" value="PYG">Guarani</option>
                <option data-currencyid="60" value="GNF">Guinea Franc</option>
                <option data-currencyid="61" value="GYD">Guyana Dollar</option>
                <option data-currencyid="62" value="HKD">Hong Kong Dollar</option>
                <option data-currencyid="63" value="UAH">Hryvnia</option>
                <option data-currencyid="64" value="ISK">Iceland Krona</option>
                <option data-currencyid="65" selected="true" value="INR">Indian Rupee</option>
                <option data-currencyid="67" value="IQD">Iraqi Dinar</option>
                <option data-currencyid="4" value="ILS">Israeli Shekel</option>
                <option data-currencyid="68" value="JMD">Jamaican Dollar</option>
                <option data-currencyid="69" value="JOD">Jordanian Dinar</option>
                <option data-currencyid="70" value="KES">Kenyan Shilling</option>
                <option data-currencyid="71" value="PGK">Kina</option>
                <option data-currencyid="72" value="LAK">Kip</option>
                <option data-currencyid="73" value="KWD">Kuwaiti Dinar</option>
                <option data-currencyid="74" value="MWK">Kwacha</option>
                <option data-currencyid="75" value="AOA">Kwanza</option>
                <option data-currencyid="76" value="MMK">Kyat</option>
                <option data-currencyid="77" value="GEL">Lari</option>
                <option data-currencyid="79" value="LBP">Lebanese Pound</option>
                <option data-currencyid="80" value="ALL">Lek</option>
                <option data-currencyid="81" value="HNL">Lempira</option>
                <option data-currencyid="82" value="SLL">Leone</option>
                <option data-currencyid="83" value="LRD">Liberian Dollar</option>
                <option data-currencyid="84" value="LYD">Libyan Dinar</option>
                <option data-currencyid="85" value="SZL">Lilangeni</option>
                <option data-currencyid="87" value="LSL">Loti</option>
                <option data-currencyid="88" value="MGA">Malagasy Ariary</option>
                <option data-currencyid="89" value="MYR">Malaysian Ringgit</option>
                <option data-currencyid="90" value="MUR">Mauritius Rupee</option>
                <option data-currencyid="91" value="MXN">Mexican Peso</option>
                <option data-currencyid="92" value="MDL">Moldovan Leu</option>
                <option data-currencyid="93" value="MAD">Moroccan Dirham</option>
                <option data-currencyid="94" value="MZN">Mozambique Metical</option>
                <option data-currencyid="95" value="NGN">Naira</option>
                <option data-currencyid="96" value="ERN">Nakfa</option>
                <option data-currencyid="97" value="NAD">Namibia Dollar</option>
                <option data-currencyid="98" value="NPR">Nepalese Rupee</option>
                <option data-currencyid="99" value="ANG">Netherlands Antillean Guilder</option>
                <option data-currencyid="160" value="BYN">New Belarusian Ruble</option>
                <option data-currencyid="100" value="RON">New Romanian Leu</option>
                <option data-currencyid="101" value="TWD">New Taiwan Dollar</option>
                <option data-currencyid="102" value="NZD">New Zealand Dollar</option>
                <option data-currencyid="103" value="BTN">Ngultrum</option>
                <option data-currencyid="105" value="NOK">Norwegian Krone</option>
                <option data-currencyid="107" value="MRO">Ouguiya</option>
                <option data-currencyid="108" value="TOP">Pa’anga</option>
                <option data-currencyid="109" value="PKR">Pakistan Rupee</option>
                <option data-currencyid="110" value="MOP">Pataca</option>
                <option data-currencyid="112" value="UYU">Peso Uruguayo</option>
                <option data-currencyid="113" value="PHP">Philippine Peso</option>
                <option data-currencyid="2" data-defaultmerchantcurrencyid="2" value="GBP">Pound Sterling</option>
                <option data-currencyid="114" value="BWP">Pula</option>
                <option data-currencyid="115" value="QAR">Qatari riyal</option>
                <option data-currencyid="116" value="GTQ">Quetzal</option>
                <option data-currencyid="117" value="ZAR">Rand</option>
                <option data-currencyid="118" value="OMR">Rial Omani</option>
                <option data-currencyid="119" value="KHR">Riel</option>
                <option data-currencyid="120" value="MVR">Rufiyaa</option>
                <option data-currencyid="121" value="IDR">Rupiah</option>
                <option data-currencyid="122" value="RUB">Russian Ruble</option>
                <option data-currencyid="123" value="RWF">Rwanda Franc</option>
                <option data-currencyid="124" value="SHP">Saint Helena Pound</option>
                <option data-currencyid="125" value="SAR">Saudi Riyal</option>
                <option data-currencyid="126" value="RSD">Serbian Dinar</option>
                <option data-currencyid="127" value="SCR">Seychelles Rupee</option>
                <option data-currencyid="128" value="SGD">Singapore Dollar</option>
                <option data-currencyid="106" value="PEN">Sol</option>
                <option data-currencyid="129" value="SBD">Solomon Islands Dollar</option>
                <option data-currencyid="130" value="KGS">Som</option>
                <option data-currencyid="131" value="SOS">Somali Shilling</option>
                <option data-currencyid="132" value="TJS">Somoni</option>
                <option data-currencyid="134" value="LKR">Sri Lanka Rupee</option>
                <option data-currencyid="135" value="SDG">Sudanese Pound</option>
                <option data-currencyid="136" value="SRD">Surinam Dollar</option>
                <option data-currencyid="137" value="SEK">Swedish Krona</option>
                <option data-currencyid="138" value="CHF">Swiss Franc</option>
                <option data-currencyid="140" value="BDT">Taka</option>
                <option data-currencyid="141" value="WST">Tala</option>
                <option data-currencyid="142" value="TZS">Tanzanian Shilling</option>
                <option data-currencyid="143" value="KZT">Tenge</option>
                <option data-currencyid="144" value="TTD">Trinidad and Tobago Dollar</option>
                <option data-currencyid="145" value="MNT">Tugrik</option>
                <option data-currencyid="146" value="TND">Tunisian Dinar</option>
                <option data-currencyid="147" value="TRY">Turkish Lira</option>
                <option data-currencyid="148" value="TMT">Turkmenistan New Manat</option>
                <option data-currencyid="149" value="AED">UAE Dirham</option>
                <option data-currencyid="150" value="UGX">Uganda Shilling</option>
                <option data-currencyid="1" value="USD">US Dollar</option>
                <option data-currencyid="151" value="UZS">Uzbekistan Sum</option>
                <option data-currencyid="152" value="VUV">Vatu</option>
                <option data-currencyid="153" value="KRW">Won</option>
                <option data-currencyid="154" value="YER">Yemeni Rial</option>
                <option data-currencyid="155" value="JPY">Yen</option>
                <option data-currencyid="156" value="CNY">Yuan Renminbi</option>
                <option data-currencyid="157" value="ZMW">Zambian Kwacha</option>
                <option data-currencyid="158" value="ZWL">Zimbabwe Dollar</option>
                <option data-currencyid="159" value="PLN">Zloty</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="modal-btn-bottom">
          <span class="Button Button--primary currency_submit">
            Save
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function readCookie(name){
    return (name = new RegExp('(?:^|;\\s)' + ('' + name).replace(/[-[]{}()+?.,\^jQuery341|#\s]/g, '\jQuery341&') + '=([^;]*)').exec(document.cookie)) && name[1];
  }

  function writeCookie(cName,cVal){
    deleteCookie(cName);
    var date = new Date();
    date.setTime(date.getTime() + (7*24*60*60*1000));
    expires = "; expires=" + date.toUTCString();
    document.cookie = cName+"="+cVal+ expires + ";Path=/;samesite=none; secure"
  }

  function deleteCookie(name){
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }
</script>
<script type="lazyload2">
setTimeout(function() {
    if(window.location.href.indexOf('nr=t') > 0 || localStorage.getItem("nr")){
    }else{
    	if(readCookie('f-country') && readCookie('f-country') == 'India'){
          window.location.href = window.location.href.replace('global.frenchcrown.com', 'frenchcrown.in').replace('frenchcrown.com', 'frenchcrown.in');	    
        }

        if(readCookie('f-currency') && readCookie('f-country')){
          if(readCookie('f-currency') == '"INR"'){
            window.location.href = window.location.href.replace('global.frenchcrown.com', 'frenchcrown.in').replace('frenchcrown.com', 'frenchcrown.in');
          }
        }else{
          jQuery.ajax({
              url: '/browsing_context_suggestions.json?source=locale_bar_app&currency[enabled]=true&language[enabled]=true',
              type: 'get',
              success: function(data){
              console.log("data==>", data);
                var country_code = data.detected_values.country.handle;
                var country_name = data.detected_values.country.name;
                writeCookie('f-country', country_code);
                if(country_code == 'IN'){
                  window.location.href = window.location.href.replace('global.frenchcrown.com', 'frenchcrown.in').replace('frenchcrown.com', 'frenchcrown.in');
                }else if(country_code != 'US'){
                  currencies_hash = {
                     "AF":{
                        "country_name":"Afghanistan",
                        "currency_name":"Afghan Afghani",
                        "currency_code":"AFN",
                        "currency_symbol":"؋"
                     },
                     "AX":{
                        "country_name":"Åland Islands",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "AL":{
                        "country_name":"Albania",
                        "currency_name":"Albanian Lek",
                        "currency_code":"ALL",
                        "currency_symbol":"L"
                     },
                     "DZ":{
                        "country_name":"Algeria",
                        "currency_name":"Algerian Dinar",
                        "currency_code":"DZD",
                        "currency_symbol":"دج"
                     },
                     "AD":{
                        "country_name":"Andorra",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "AO":{
                        "country_name":"Angola",
                        "currency_name":"Angolan Kwanza",
                        "currency_code":"AOA",
                        "currency_symbol":"Kz"
                     },
                     "AI":{
                        "country_name":"Anguilla",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "AG":{
                        "country_name":"Antigua & Barbuda",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "AR":{
                        "country_name":"Argentina",
                        "currency_name":"Argentine Peso",
                        "currency_code":"ARS",
                        "currency_symbol":"$"
                     },
                     "AM":{
                        "country_name":"Armenia",
                        "currency_name":"Armenian Dram",
                        "currency_code":"AMD",
                        "currency_symbol":"֏"
                     },
                     "AW":{
                        "country_name":"Aruba",
                        "currency_name":"Aruban Florin",
                        "currency_code":"AWG",
                        "currency_symbol":"Afl."
                     },
                     "AU":{
                        "country_name":"Australia",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "AT":{
                        "country_name":"Austria",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "AZ":{
                        "country_name":"Azerbaijan",
                        "currency_name":"Azerbaijani Manat",
                        "currency_code":"AZN",
                        "currency_symbol":"₼"
                     },
                     "BS":{
                        "country_name":"Bahamas",
                        "currency_name":"Bahamian Dollar",
                        "currency_code":"BSD",
                        "currency_symbol":"$"
                     },
                     "BH":{
                        "country_name":"Bahrain",
                        "currency_name":"Bahraini Dinar",
                        "currency_code":"BHD",
                        "currency_symbol":".د.ب"
                     },
                     "BD":{
                        "country_name":"Bangladesh",
                        "currency_name":"Bangladeshi Taka",
                        "currency_code":"BDT",
                        "currency_symbol":"৳"
                     },
                     "BB":{
                        "country_name":"Barbados",
                        "currency_name":"Barbadian Dollar",
                        "currency_code":"BBD",
                        "currency_symbol":"$"
                     },
                     "BY":{
                        "country_name":"Belarus",
                        "currency_name":"Belarusian Ruble",
                        "currency_code":"BYN",
                        "currency_symbol":"Br"
                     },
                     "BE":{
                        "country_name":"Belgium",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "BZ":{
                        "country_name":"Belize",
                        "currency_name":"Belize Dollar",
                        "currency_code":"BZD",
                        "currency_symbol":"$"
                     },
                     "BJ":{
                        "country_name":"Benin",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "BM":{
                        "country_name":"Bermuda",
                        "currency_name":"Bermudian Dollar",
                        "currency_code":"BMD",
                        "currency_symbol":"$"
                     },
                     "BT":{
                        "country_name":"Bhutan",
                        "currency_name":"Bhutanese Ngultrum",
                        "currency_code":"BTN",
                        "currency_symbol":"Nu."
                     },
                     "BO":{
                        "country_name":"Bolivia",
                        "currency_name":"Bolivian Boliviano",
                        "currency_code":"BOB",
                        "currency_symbol":"Bs"
                     },
                     "BA":{
                        "country_name":"Bosnia & Herzegovina",
                        "currency_name":"Bosnia-Herzegovina Convertible Mark",
                        "currency_code":"BAM",
                        "currency_symbol":"KM"
                     },
                     "BW":{
                        "country_name":"Botswana",
                        "currency_name":"Botswanan Pula",
                        "currency_code":"BWP",
                        "currency_symbol":"P"
                     },
                     "BV":{
                        "country_name":"Bouvet Island",
                        "currency_name":"Norwegian Krone",
                        "currency_code":"NOK",
                        "currency_symbol":"kr"
                     },
                     "BR":{
                        "country_name":"Brazil",
                        "currency_name":"Brazilian Real",
                        "currency_code":"BRL",
                        "currency_symbol":"R$"
                     },
                     "IO":{
                        "country_name":"British Indian Ocean Territory",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "VG":{
                        "country_name":"British Virgin Islands",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "BN":{
                        "country_name":"Brunei",
                        "currency_name":"Brunei Dollar",
                        "currency_code":"BND",
                        "currency_symbol":"$"
                     },
                     "BG":{
                        "country_name":"Bulgaria",
                        "currency_name":"Bulgarian Lev",
                        "currency_code":"BGN",
                        "currency_symbol":"лв."
                     },
                     "BF":{
                        "country_name":"Burkina Faso",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "BI":{
                        "country_name":"Burundi",
                        "currency_name":"Burundian Franc",
                        "currency_code":"BIF",
                        "currency_symbol":"FBu"
                     },
                     "KH":{
                        "country_name":"Cambodia",
                        "currency_name":"Cambodian Riel",
                        "currency_code":"KHR",
                        "currency_symbol":"៛"
                     },
                     "CM":{
                        "country_name":"Cameroon",
                        "currency_name":"Central African CFA Franc",
                        "currency_code":"XAF",
                        "currency_symbol":"FCFA"
                     },
                     "CA":{
                        "country_name":"Canada",
                        "currency_name":"Canadian Dollar",
                        "currency_code":"CAD",
                        "currency_symbol":"$"
                     },
                     "CV":{
                        "country_name":"Cape Verde",
                        "currency_name":"Cape Verdean Escudo",
                        "currency_code":"CVE",
                        "currency_symbol":"$"
                     },
                     "BQ":{
                        "country_name":"Caribbean Netherlands",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "KY":{
                        "country_name":"Cayman Islands",
                        "currency_name":"Cayman Islands Dollar ",
                        "currency_code":"KYD",
                        "currency_symbol":"$"
                     },
                     "CF":{
                        "country_name":"Central African Republic",
                        "currency_name":"Central African CFA Franc",
                        "currency_code":"XAF",
                        "currency_symbol":"FCFA"
                     },
                     "TD":{
                        "country_name":"Chad",
                        "currency_name":"Central African CFA Franc",
                        "currency_code":"XAF",
                        "currency_symbol":"FCFA"
                     },
                     "CL":{
                        "country_name":"Chile",
                        "currency_name":"Chilean Peso",
                        "currency_code":"CLP",
                        "currency_symbol":"$"
                     },
                     "CN":{
                        "country_name":"China",
                        "currency_name":"Chinese Yuan",
                        "currency_code":"CNY",
                        "currency_symbol":"¥"
                     },
                     "CX":{
                        "country_name":"Christmas Island",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "CC":{
                        "country_name":"Cocos (Keeling) Islands",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "CO":{
                        "country_name":"Colombia",
                        "currency_name":"Colombian Peso",
                        "currency_code":"COP",
                        "currency_symbol":"$"
                     },
                     "KM":{
                        "country_name":"Comoros",
                        "currency_name":"Comorian Franc",
                        "currency_code":"KMF",
                        "currency_symbol":"CF"
                     },
                     "CG":{
                        "country_name":"Congo - Brazzaville",
                        "currency_name":"Central African CFA Franc",
                        "currency_code":"XAF",
                        "currency_symbol":"FCFA"
                     },
                     "CD":{
                        "country_name":"Congo - Kinshasa",
                        "currency_name":"Congolese Franc",
                        "currency_code":"CDF",
                        "currency_symbol":"FC"
                     },
                     "CK":{
                        "country_name":"Cook Islands",
                        "currency_name":"New Zealand Dollar",
                        "currency_code":"NZD",
                        "currency_symbol":"$"
                     },
                     "CR":{
                        "country_name":"Costa Rica",
                        "currency_name":"Costa Rican Colón",
                        "currency_code":"CRC",
                        "currency_symbol":"₡"
                     },
                     "CI":{
                        "country_name":"Côte d’Ivoire",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "HR":{
                        "country_name":"Croatia",
                        "currency_name":"Croatian Kuna",
                        "currency_code":"HRK",
                        "currency_symbol":"kn"
                     },
                     "CU":{
                        "country_name":"Cuba",
                        "currency_name":"Cuban Peso",
                        "currency_code":"CUP",
                        "currency_symbol":"$"
                     },
                     "CW":{
                        "country_name":"Curaçao",
                        "currency_name":"Netherlands Antillean Guilder",
                        "currency_code":"ANG",
                        "currency_symbol":"ƒ"
                     },
                     "CY":{
                        "country_name":"Cyprus",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "CZ":{
                        "country_name":"Czechia",
                        "currency_name":"Czech Koruna",
                        "currency_code":"CZK",
                        "currency_symbol":"Kč"
                     },
                     "DK":{
                        "country_name":"Denmark",
                        "currency_name":"Danish Krone",
                        "currency_code":"DKK",
                        "currency_symbol":"kr."
                     },
                     "DJ":{
                        "country_name":"Djibouti",
                        "currency_name":"Djiboutian Franc",
                        "currency_code":"DJF",
                        "currency_symbol":"Fdj"
                     },
                     "DM":{
                        "country_name":"Dominica",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "DO":{
                        "country_name":"Dominican Republic",
                        "currency_name":"Dominican Peso",
                        "currency_code":"DOP",
                        "currency_symbol":"$"
                     },
                     "EC":{
                        "country_name":"Ecuador",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "EG":{
                        "country_name":"Egypt",
                        "currency_name":"Egyptian Pound",
                        "currency_code":"EGP",
                        "currency_symbol":"£"
                     },
                     "SV":{
                        "country_name":"El Salvador",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "GQ":{
                        "country_name":"Equatorial Guinea",
                        "currency_name":"Central African CFA Franc",
                        "currency_code":"XAF",
                        "currency_symbol":"FCFA"
                     },
                     "ER":{
                        "country_name":"Eritrea",
                        "currency_name":"Eritrean Nakfa",
                        "currency_code":"ERN",
                        "currency_symbol":"Nkf"
                     },
                     "EE":{
                        "country_name":"Estonia",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "SZ":{
                        "country_name":"Eswatini",
                        "currency_name":"Swazi Lilangeni",
                        "currency_code":"SZL",
                        "currency_symbol":"E"
                     },
                     "ET":{
                        "country_name":"Ethiopia",
                        "currency_name":"Ethiopian Birr",
                        "currency_code":"ETB",
                        "currency_symbol":"ብር"
                     },
                     "FK":{
                        "country_name":"Falkland Islands",
                        "currency_name":"Falkland Islands Pound",
                        "currency_code":"FKP",
                        "currency_symbol":"£"
                     },
                     "FO":{
                        "country_name":"Faroe Islands",
                        "currency_name":"Danish Krone",
                        "currency_code":"DKK",
                        "currency_symbol":"kr."
                     },
                     "FJ":{
                        "country_name":"Fiji",
                        "currency_name":"Fijian Dollar ",
                        "currency_code":"FJD",
                        "currency_symbol":"$"
                     },
                     "FI":{
                        "country_name":"Finland",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "FR":{
                        "country_name":"France",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "GF":{
                        "country_name":"French Guiana",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "PF":{
                        "country_name":"French Polynesia",
                        "currency_name":"CFP Franc",
                        "currency_code":"XPF",
                        "currency_symbol":"F"
                     },
                     "TF":{
                        "country_name":"French Southern Territories",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "GA":{
                        "country_name":"Gabon",
                        "currency_name":"Central African CFA Franc",
                        "currency_code":"XAF",
                        "currency_symbol":"FCFA"
                     },
                     "GM":{
                        "country_name":"Gambia",
                        "currency_name":"Gambian Dalasi",
                        "currency_code":"GMD",
                        "currency_symbol":"D"
                     },
                     "GE":{
                        "country_name":"Georgia",
                        "currency_name":"Georgian Lari",
                        "currency_code":"GEL",
                        "currency_symbol":"₾"
                     },
                     "DE":{
                        "country_name":"Germany",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "GH":{
                        "country_name":"Ghana",
                        "currency_name":"Ghanaian Cedi",
                        "currency_code":"GHS",
                        "currency_symbol":"GH₵"
                     },
                     "GI":{
                        "country_name":"Gibraltar",
                        "currency_name":"Gibraltar Pound",
                        "currency_code":"GIP",
                        "currency_symbol":"£"
                     },
                     "GR":{
                        "country_name":"Greece",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "GL":{
                        "country_name":"Greenland",
                        "currency_name":"Danish Krone",
                        "currency_code":"DKK",
                        "currency_symbol":"kr."
                     },
                     "GD":{
                        "country_name":"Grenada",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "GP":{
                        "country_name":"Guadeloupe",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "GT":{
                        "country_name":"Guatemala",
                        "currency_name":"Guatemalan Quetzal",
                        "currency_code":"GTQ",
                        "currency_symbol":"Q"
                     },
                     "GG":{
                        "country_name":"Guernsey",
                        "currency_name":"British Pound",
                        "currency_code":"GBP",
                        "currency_symbol":"£"
                     },
                     "GW":{
                        "country_name":"Guinea-Bissau",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "GN":{
                        "country_name":"Guinea",
                        "currency_name":"Guinean Franc",
                        "currency_code":"GNF",
                        "currency_symbol":"FG"
                     },
                     "GY":{
                        "country_name":"Guyana",
                        "currency_name":"Guyanaese Dollar",
                        "currency_code":"GYD",
                        "currency_symbol":"$"
                     },
                     "HT":{
                        "country_name":"Haiti",
                        "currency_name":"Haitian Gourde",
                        "currency_code":"HTG",
                        "currency_symbol":"G"
                     },
                     "HM":{
                        "country_name":"Heard & McDonald Islands",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "HN":{
                        "country_name":"Honduras",
                        "currency_name":"Honduran Lempira",
                        "currency_code":"HNL",
                        "currency_symbol":"L"
                     },
                     "HK":{
                        "country_name":"Hong Kong SAR China",
                        "currency_name":"Hong Kong Dollar",
                        "currency_code":"HKD",
                        "currency_symbol":"$"
                     },
                     "HU":{
                        "country_name":"Hungary",
                        "currency_name":"Hungarian Forint",
                        "currency_code":"HUF",
                        "currency_symbol":"Ft"
                     },
                     "IS":{
                        "country_name":"Iceland",
                        "currency_name":"Icelandic Króna",
                        "currency_code":"ISK",
                        "currency_symbol":"kr"
                     },
                     "IN":{
                        "country_name":"India",
                        "currency_name":"Indian Rupee",
                        "currency_code":"INR",
                        "currency_symbol":"₹"
                     },
                     "ID":{
                        "country_name":"Indonesia",
                        "currency_name":"Indonesian Rupiah",
                        "currency_code":"IDR",
                        "currency_symbol":"Rp"
                     },
                     "IR":{
                        "country_name":"Iran",
                        "currency_name":"Iranian Rial",
                        "currency_code":"IRR",
                        "currency_symbol":"﷼"
                     },
                     "IQ":{
                        "country_name":"Iraq",
                        "currency_name":"Iraqi Dinar",
                        "currency_code":"IQD",
                        "currency_symbol":"د.ع"
                     },
                     "IE":{
                        "country_name":"Ireland",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "IM":{
                        "country_name":"Isle of Man",
                        "currency_name":"British Pound",
                        "currency_code":"GBP",
                        "currency_symbol":"£"
                     },
                     "IL":{
                        "country_name":"Israel",
                        "currency_name":"Israeli New Shekel",
                        "currency_code":"ILS",
                        "currency_symbol":"₪"
                     },
                     "IT":{
                        "country_name":"Italy",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "JM":{
                        "country_name":"Jamaica",
                        "currency_name":"Jamaican Dollar",
                        "currency_code":"JMD",
                        "currency_symbol":"$"
                     },
                     "JP":{
                        "country_name":"Japan",
                        "currency_name":"Japanese Yen",
                        "currency_code":"JPY",
                        "currency_symbol":"¥"
                     },
                     "JE":{
                        "country_name":"Jersey",
                        "currency_name":"British Pound",
                        "currency_code":"GBP",
                        "currency_symbol":"£"
                     },
                     "JO":{
                        "country_name":"Jordan",
                        "currency_name":"Jordanian Dinar",
                        "currency_code":"JOD",
                        "currency_symbol":"د.أ"
                     },
                     "KZ":{
                        "country_name":"Kazakhstan",
                        "currency_name":"Kazakhstani Tenge",
                        "currency_code":"KZT",
                        "currency_symbol":"₸"
                     },
                     "KE":{
                        "country_name":"Kenya",
                        "currency_name":"Kenyan Shilling",
                        "currency_code":"KES",
                        "currency_symbol":"KSh"
                     },
                     "KI":{
                        "country_name":"Kiribati",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "XK":{
                        "country_name":"Kosovo",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "KW":{
                        "country_name":"Kuwait",
                        "currency_name":"Kuwaiti Dinar",
                        "currency_code":"KWD",
                        "currency_symbol":"د.ك"
                     },
                     "KG":{
                        "country_name":"Kyrgyzstan",
                        "currency_name":"Kyrgystani Som",
                        "currency_code":"KGS",
                        "currency_symbol":"сом"
                     },
                     "LA":{
                        "country_name":"Laos",
                        "currency_name":"Laotian Kip",
                        "currency_code":"LAK",
                        "currency_symbol":"₭"
                     },
                     "LV":{
                        "country_name":"Latvia",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "LB":{
                        "country_name":"Lebanon",
                        "currency_name":"Lebanese Pound",
                        "currency_code":"LBP",
                        "currency_symbol":"ل.ل."
                     },
                     "LS":{
                        "country_name":"Lesotho",
                        "currency_name":"Lesotho Loti",
                        "currency_code":"LSL",
                        "currency_symbol":"L"
                     },
                     "LR":{
                        "country_name":"Liberia",
                        "currency_name":"Liberian Dollar",
                        "currency_code":"LRD",
                        "currency_symbol":"$"
                     },
                     "LY":{
                        "country_name":"Libya",
                        "currency_name":"Libyan Dinar",
                        "currency_code":"LYD",
                        "currency_symbol":"ل.د"
                     },
                     "LI":{
                        "country_name":"Liechtenstein",
                        "currency_name":"Swiss Franc",
                        "currency_code":"CHF",
                        "currency_symbol":"CHF"
                     },
                     "LT":{
                        "country_name":"Lithuania",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "LU":{
                        "country_name":"Luxembourg",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "MO":{
                        "country_name":"Macao SAR China",
                        "currency_name":"Macanese Pataca",
                        "currency_code":"MOP",
                        "currency_symbol":"MOP$"
                     },
                     "MG":{
                        "country_name":"Madagascar",
                        "currency_name":"Malagasy Ariary",
                        "currency_code":"MGA",
                        "currency_symbol":"Ar"
                     },
                     "MW":{
                        "country_name":"Malawi",
                        "currency_name":"Malawian Kwacha",
                        "currency_code":"MWK",
                        "currency_symbol":"K"
                     },
                     "MY":{
                        "country_name":"Malaysia",
                        "currency_name":"Malaysian Ringgit",
                        "currency_code":"MYR",
                        "currency_symbol":"RM"
                     },
                     "MV":{
                        "country_name":"Maldives",
                        "currency_name":"Maldivian Rufiyaa",
                        "currency_code":"MVR",
                        "currency_symbol":"Rf"
                     },
                     "ML":{
                        "country_name":"Mali",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "MT":{
                        "country_name":"Malta",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "MQ":{
                        "country_name":"Martinique",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "MR":{
                        "country_name":"Mauritania",
                        "currency_name":"Mauritanian Ouguiya",
                        "currency_code":"MRU",
                        "currency_symbol":"UM"
                     },
                     "MU":{
                        "country_name":"Mauritius",
                        "currency_name":"Mauritian Rupee",
                        "currency_code":"MUR",
                        "currency_symbol":"₨"
                     },
                     "YT":{
                        "country_name":"Mayotte",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "MX":{
                        "country_name":"Mexico",
                        "currency_name":"Mexican Peso",
                        "currency_code":"MXN",
                        "currency_symbol":"$"
                     },
                     "MD":{
                        "country_name":"Moldova",
                        "currency_name":"Moldovan Leu",
                        "currency_code":"MDL",
                        "currency_symbol":"L"
                     },
                     "MC":{
                        "country_name":"Monaco",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "MN":{
                        "country_name":"Mongolia",
                        "currency_name":"Mongolian Tugrik",
                        "currency_code":"MNT",
                        "currency_symbol":"₮"
                     },
                     "ME":{
                        "country_name":"Montenegro",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "MS":{
                        "country_name":"Montserrat",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "MA":{
                        "country_name":"Morocco",
                        "currency_name":"Moroccan Dirham",
                        "currency_code":"MAD",
                        "currency_symbol":"DH"
                     },
                     "MZ":{
                        "country_name":"Mozambique",
                        "currency_name":"Mozambican Metical",
                        "currency_code":"MZN",
                        "currency_symbol":"MT"
                     },
                     "MM":{
                        "country_name":"Myanmar (Burma)",
                        "currency_name":"Myanmar Kyat",
                        "currency_code":"MMK",
                        "currency_symbol":"K"
                     },
                     "NA":{
                        "country_name":"Namibia",
                        "currency_name":"Namibian Dollar",
                        "currency_code":"NAD",
                        "currency_symbol":"N$"
                     },
                     "NR":{
                        "country_name":"Nauru",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "NP":{
                        "country_name":"Nepal",
                        "currency_name":"Nepalese Rupee",
                        "currency_code":"NPR",
                        "currency_symbol":"रू"
                     },
                     "AN":{
                        "country_name":"Netherlands Antilles",
                        "currency_name":"Netherlands Antillean Guilder",
                        "currency_code":"ANG",
                        "currency_symbol":"ƒ"
                     },
                     "NL":{
                        "country_name":"Netherlands",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "NC":{
                        "country_name":"New Caledonia",
                        "currency_name":"CFP Franc",
                        "currency_code":"XPF",
                        "currency_symbol":"F"
                     },
                     "NZ":{
                        "country_name":"New Zealand",
                        "currency_name":"New Zealand Dollar",
                        "currency_code":"NZD",
                        "currency_symbol":"$"
                     },
                     "NI":{
                        "country_name":"Nicaragua",
                        "currency_name":"Nicaraguan Córdoba",
                        "currency_code":"NIO",
                        "currency_symbol":"C$"
                     },
                     "NE":{
                        "country_name":"Niger",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "NG":{
                        "country_name":"Nigeria",
                        "currency_name":"Nigerian Naira",
                        "currency_code":"NGN",
                        "currency_symbol":"₦"
                     },
                     "NU":{
                        "country_name":"Niue",
                        "currency_name":"New Zealand Dollar",
                        "currency_code":"NZD",
                        "currency_symbol":"$"
                     },
                     "NF":{
                        "country_name":"Norfolk Island",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "KP":{
                        "country_name":"North Korea",
                        "currency_name":"North Korean Won",
                        "currency_code":"KPW",
                        "currency_symbol":"₩"
                     },
                     "MK":{
                        "country_name":"North Macedonia",
                        "currency_name":"Macedonian Denar",
                        "currency_code":"MKD",
                        "currency_symbol":"ден"
                     },
                     "NO":{
                        "country_name":"Norway",
                        "currency_name":"Norwegian Krone",
                        "currency_code":"NOK",
                        "currency_symbol":"kr"
                     },
                     "OM":{
                        "country_name":"Oman",
                        "currency_name":"Omani Rial",
                        "currency_code":"OMR",
                        "currency_symbol":"ر.ع."
                     },
                     "PK":{
                        "country_name":"Pakistan",
                        "currency_name":"Pakistani Rupee",
                        "currency_code":"PKR",
                        "currency_symbol":"₨"
                     },
                     "PS":{
                        "country_name":"Palestinian Territories",
                        "currency_name":"Israeli New Shekel",
                        "currency_code":"ILS",
                        "currency_symbol":"₪"
                     },
                     "PA":{
                        "country_name":"Panama",
                        "currency_name":"Panamanian Balboa",
                        "currency_code":"PAB",
                        "currency_symbol":"B/."
                     },
                     "PG":{
                        "country_name":"Papua New Guinea",
                        "currency_name":"Papua New Guinean Kina",
                        "currency_code":"PGK",
                        "currency_symbol":"K"
                     },
                     "PY":{
                        "country_name":"Paraguay",
                        "currency_name":"Paraguayan Guarani",
                        "currency_code":"PYG",
                        "currency_symbol":"₲"
                     },
                     "PE":{
                        "country_name":"Peru",
                        "currency_name":"Peruvian Sol",
                        "currency_code":"PEN",
                        "currency_symbol":"S/"
                     },
                     "PH":{
                        "country_name":"Philippines",
                        "currency_name":"Philippine Peso",
                        "currency_code":"PHP",
                        "currency_symbol":"₱"
                     },
                     "PN":{
                        "country_name":"Pitcairn Islands",
                        "currency_name":"New Zealand Dollar",
                        "currency_code":"NZD",
                        "currency_symbol":"$"
                     },
                     "PL":{
                        "country_name":"Poland",
                        "currency_name":"Polish Zloty",
                        "currency_code":"PLN",
                        "currency_symbol":"zł"
                     },
                     "PT":{
                        "country_name":"Portugal",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "QA":{
                        "country_name":"Qatar",
                        "currency_name":"Qatari Rial",
                        "currency_code":"QAR",
                        "currency_symbol":"QR"
                     },
                     "RE":{
                        "country_name":"Réunion",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "RO":{
                        "country_name":"Romania",
                        "currency_name":"Romanian Leu",
                        "currency_code":"RON",
                        "currency_symbol":"L"
                     },
                     "RU":{
                        "country_name":"Russia",
                        "currency_name":"Russian Ruble",
                        "currency_code":"RUB",
                        "currency_symbol":"₽"
                     },
                     "RW":{
                        "country_name":"Rwanda",
                        "currency_name":"Rwandan Franc",
                        "currency_code":"RWF",
                        "currency_symbol":"FRw"
                     },
                     "WS":{
                        "country_name":"Samoa",
                        "currency_name":"Samoan Tala",
                        "currency_code":"WST",
                        "currency_symbol":"WS$"
                     },
                     "SM":{
                        "country_name":"San Marino",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "ST":{
                        "country_name":"São Tomé & Príncipe",
                        "currency_name":"São Tomé & Príncipe Dobra",
                        "currency_code":"STN",
                        "currency_symbol":"Db"
                     },
                     "SA":{
                        "country_name":"Saudi Arabia",
                        "currency_name":"Saudi Riyal",
                        "currency_code":"SAR",
                        "currency_symbol":"ر.س "
                     },
                     "SN":{
                        "country_name":"Senegal",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "RS":{
                        "country_name":"Serbia",
                        "currency_name":"Serbian Dinar",
                        "currency_code":"RSD",
                        "currency_symbol":"дин"
                     },
                     "SC":{
                        "country_name":"Seychelles",
                        "currency_name":"Seychellois Rupee",
                        "currency_code":"SCR",
                        "currency_symbol":"SCR"
                     },
                     "SL":{
                        "country_name":"Sierra Leone",
                        "currency_name":"Sierra Leonean Leone",
                        "currency_code":"SLL",
                        "currency_symbol":"Le"
                     },
                     "SG":{
                        "country_name":"Singapore",
                        "currency_name":"Singapore Dollar",
                        "currency_code":"SGD",
                        "currency_symbol":"$"
                     },
                     "SX":{
                        "country_name":"Sint Maarten",
                        "currency_name":"Netherlands Antillean Guilder",
                        "currency_code":"ANG",
                        "currency_symbol":"ƒ"
                     },
                     "SK":{
                        "country_name":"Slovakia",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "SI":{
                        "country_name":"Slovenia",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "SB":{
                        "country_name":"Solomon Islands",
                        "currency_name":"Solomon Islands Dollar",
                        "currency_code":"SBD",
                        "currency_symbol":"$"
                     },
                     "SO":{
                        "country_name":"Somalia",
                        "currency_name":"Somali Shilling",
                        "currency_code":"SOS",
                        "currency_symbol":"Sh.So."
                     },
                     "ZA":{
                        "country_name":"South Africa",
                        "currency_name":"South African Rand",
                        "currency_code":"ZAR",
                        "currency_symbol":"R"
                     },
                     "GS":{
                        "country_name":"South Georgia & South Sandwich Islands",
                        "currency_name":"Falkland Islands Pound",
                        "currency_code":"FKP",
                        "currency_symbol":"£"
                     },
                     "KR":{
                        "country_name":"South Korea",
                        "currency_name":"South Korean Won",
                        "currency_code":"KRW",
                        "currency_symbol":"₩"
                     },
                     "SS":{
                        "country_name":"South Sudan",
                        "currency_name":"South Sudanese Pound",
                        "currency_code":"SSP",
                        "currency_symbol":"SS£"
                     },
                     "ES":{
                        "country_name":"Spain",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "LK":{
                        "country_name":"Sri Lanka",
                        "currency_name":"Sri Lankan Rupee",
                        "currency_code":"LKR",
                        "currency_symbol":"Rs"
                     },
                     "BL":{
                        "country_name":"St. Barthélemy",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "SH":{
                        "country_name":"St. Helena",
                        "currency_name":"St. Helena Pound",
                        "currency_code":"SHP",
                        "currency_symbol":"£"
                     },
                     "KN":{
                        "country_name":"St. Kitts & Nevis",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "LC":{
                        "country_name":"St. Lucia",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "MF":{
                        "country_name":"St. Martin",
                        "currency_name":"Netherlands Antillean Guilder",
                        "currency_code":"ANG",
                        "currency_symbol":"ƒ"
                     },
                     "PM":{
                        "country_name":"St. Pierre & Miquelon",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "VC":{
                        "country_name":"St. Vincent & Grenadines",
                        "currency_name":"East Caribbean Dollar",
                        "currency_code":"XCD",
                        "currency_symbol":"$"
                     },
                     "SD":{
                        "country_name":"Sudan",
                        "currency_name":"Sudanese Pound",
                        "currency_code":"SDG",
                        "currency_symbol":"£"
                     },
                     "SR":{
                        "country_name":"Suriname",
                        "currency_name":"Surinamese Dollar",
                        "currency_code":"SRD",
                        "currency_symbol":"$"
                     },
                     "SJ":{
                        "country_name":"Svalbard & Jan Mayen",
                        "currency_name":"Nfrenchcrown.inorwegian Krone",
                        "currency_code":"NOK",
                        "currency_symbol":"kr"
                     },
                     "SE":{
                        "country_name":"Sweden",
                        "currency_name":"Swedish Krona",
                        "currency_code":"SEK",
                        "currency_symbol":"kr"
                     },
                     "CH":{
                        "country_name":"Switzerland",
                        "currency_name":"Swiss Franc",
                        "currency_code":"CHF",
                        "currency_symbol":"CHF"
                     },
                     "SY":{
                        "country_name":"Syria",
                        "currency_name":"Syrian Pound",
                        "currency_code":"SYP",
                        "currency_symbol":"£S"
                     },
                     "TW":{
                        "country_name":"Taiwan",
                        "currency_name":"New Taiwan Dollar",
                        "currency_code":"TWD",
                        "currency_symbol":"NT$"
                     },
                     "TJ":{
                        "country_name":"Tajikistan",
                        "currency_name":"Tajikistani Somoni",
                        "currency_code":"TJS",
                        "currency_symbol":"SM"
                     },
                     "TZ":{
                        "country_name":"Tanzania",
                        "currency_name":"Tanzanian Shilling",
                        "currency_code":"TZS",
                        "currency_symbol":"TSh"
                     },
                     "TH":{
                        "country_name":"Thailand",
                        "currency_name":"Thai Baht",
                        "currency_code":"THB",
                        "currency_symbol":"฿"
                     },
                     "TL":{
                        "country_name":"Timor-Leste",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "TG":{
                        "country_name":"Togo",
                        "currency_name":"West African CFA Franc",
                        "currency_code":"XOF",
                        "currency_symbol":"CFA"
                     },
                     "TK":{
                        "country_name":"Tokelau",
                        "currency_name":"New Zealand Dollar",
                        "currency_code":"NZD",
                        "currency_symbol":"$"
                     },
                     "TO":{
                        "country_name":"Tonga",
                        "currency_name":"Tongan Paʻanga",
                        "currency_code":"TOP",
                        "currency_symbol":"T$"
                     },
                     "TT":{
                        "country_name":"Trinidad & Tobago",
                        "currency_name":"Trinidad & Tobago Dollar",
                        "currency_code":"TTD",
                        "currency_symbol":"$"
                     },
                     "TN":{
                        "country_name":"Tunisia",
                        "currency_name":"Tunisian Dinar",
                        "currency_code":"TND",
                        "currency_symbol":"د.ت"
                     },
                     "TR":{
                        "country_name":"Turkey",
                        "currency_name":"Turkish Lira",
                        "currency_code":"TRY",
                        "currency_symbol":"₺"
                     },
                     "TM":{
                        "country_name":"Turkmenistan",
                        "currency_name":"Turkmenistani Manat",
                        "currency_code":"TMT",
                        "currency_symbol":"T"
                     },
                     "TC":{
                        "country_name":"Turks & Caicos Islands",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "TV":{
                        "country_name":"Tuvalu",
                        "currency_name":"Australian Dollar",
                        "currency_code":"AUD",
                        "currency_symbol":"$"
                     },
                     "UM":{
                        "country_name":"U.S. Outlying Islands",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "UG":{
                        "country_name":"Uganda",
                        "currency_name":"Ugandan Shilling",
                        "currency_code":"UGX",
                        "currency_symbol":"USh"
                     },
                     "UA":{
                        "country_name":"Ukraine",
                        "currency_name":"Ukrainian Hryvnia",
                        "currency_code":"UAH",
                        "currency_symbol":"₴"
                     },
                     "AE":{
                        "country_name":"United Arab Emirates",
                        "currency_name":"United Arab Emirates Dirham",
                        "currency_code":"AED",
                        "currency_symbol":"د.إ"
                     },
                     "GB":{
                        "country_name":"United Kingdom",
                        "currency_name":"British Pound",
                        "currency_code":"GBP",
                        "currency_symbol":"£"
                     },
                     "US":{
                        "country_name":"United States",
                        "currency_name":"US Dollar",
                        "currency_code":"USD",
                        "currency_symbol":"$"
                     },
                     "UY":{
                        "country_name":"Uruguay",
                        "currency_name":"Uruguayan Peso",
                        "currency_code":"UYU",
                        "currency_symbol":"$"
                     },
                     "UZ":{
                        "country_name":"Uzbekistan",
                        "currency_name":"Uzbekistani Som",
                        "currency_code":"UZS",
                        "currency_symbol":"soʻm"
                     },
                     "VU":{
                        "country_name":"Vanuatu",
                        "currency_name":"Vanuatu Vatu",
                        "currency_code":"VUV",
                        "currency_symbol":"VT"
                     },
                     "VA":{
                        "country_name":"Vatican City",
                        "currency_name":"Euro",
                        "currency_code":"EUR",
                        "currency_symbol":"€"
                     },
                     "VE":{
                        "country_name":"Venezuela",
                        "currency_name":"Venezuelan Bolívar",
                        "currency_code":"VES",
                        "currency_symbol":"Bs."
                     },
                     "VN":{
                        "country_name":"Vietnam",
                        "currency_name":"Vietnamese Dong",
                        "currency_code":"VND",
                        "currency_symbol":"₫"
                     },
                     "WF":{
                        "country_name":"Wallis & Futuna",
                        "currency_name":"CFP Franc",
                        "currency_code":"XPF",
                        "currency_symbol":"F"
                     },
                     "EH":{
                        "country_name":"Western Sahara",
                        "currency_name":"Moroccan Dirham",
                        "currency_code":"MAD",
                        "currency_symbol":"DH"
                     },
                     "YE":{
                        "country_name":"Yemen",
                        "currency_name":"Yemeni Rial",
                        "currency_code":"YER",
                        "currency_symbol":"ر.ي"
                     },
                     "ZM":{
                        "country_name":"Zambia",
                        "currency_name":"Zambian Kwacha",
                        "currency_code":"ZMW",
                        "currency_symbol":"K"
                     },
                     "ZW":{
                        "country_name":"Zimbabwe",
                        "currency_name":"The Central Pacific Franc",
                        "currency_code":"ZWL",
                        "currency_symbol":"Z$"
                     }
                  }
                  var currency_code = currencies_hash[country_code]['currency_code'];
                  var currency_name = currencies_hash[country_code]['currency_name']+'('+currency_code+')';
                  var currency_code_name = currencies_hash[country_code]['currency_symbol']+'('+currency_code+')';
                  writeCookie('f-country', country_name);
                  $('.country_name').text(country_name);
                  $('.currency_name').text(currency_name);
                  $('.currency_code_name').text(" "+currency_code_name);
                  $('.change_currency').attr('data-currency', currency_code);
                  $('#gle_selectedCountry').val(country_code).change();
                  $('.geo-location').addClass('show');
                  setTimeout(function(){ writeCookie('f-currency', sessionStorage.getItem("buckscc_customer_currency")); }, 1000);
                }
              }
          });
        }
    }
    
    $(document).on('change', '#gle_selectedCountry', function(){
      var currency_id = $(this).find('option:selected').attr('data-currency');
      $("#gle_selectedCurrency").val($("#gle_selectedCurrency").find("[data-currencyid='"+currency_id+"']").val());
    });

    $(document).on('click', '.change_currency', function(e){
      var currency_code = $(this).attr('data-currency');
      writeCookie('f-currency', '"'+currency_code+'"');
      if(currency_code == 'INR'){
      	window.location.href = "https://frenchcrown.in/collections/shirts"
      }else{
      	sessionStorage.setItem("buckscc_customer_currency", '"'+currency_code+'"');
        window.location.reload();
      }
    });
    
    $(document).on('click', '.changeShipping', function(e){
      $('.first_side').hide();
	  $('.second_side').show();
    });
    
    $(document).on('click', '.currency_submit', function(e){
      var currency_code = $('#gle_selectedCurrency').val();
      writeCookie('f-currency', '"'+currency_code+'"');
      if(currency_code == 'INR'){
      	window.location.href = "https://frenchcrown.in/collections/shirts";
      }else{
      	sessionStorage.setItem("buckscc_customer_currency", '"'+currency_code+'"');
        window.location.reload();
      }
      
    });
    
});
  
</script>
    
<style type="text/css">
      
      .glMainContent {
          font-size: 16px;
          text-transform: none;
          color: #000;
          text-align: left;
          line-height: 1.3;
          margin: 40px auto;
      }
      
      .dropDownRow .caption {
          color: #333;
          font-size: 16px;
          text-transform: none;
          margin: 10px 0;
          text-align: left;
      }
      
      .dropDownRow .dropdown {
          position: relative;
          display: block;
          min-width: initial;
          right: initial;
          left: initial;
          top: initial;
          margin-bottom: 15px;
          border: none;
      }
      
      .dropDownRow .dropdown select {
          width: 100%;
          height: 50px;
          padding: 0 10px;
          font-size: 16px;
          color: #333;
          border-color: #ccc;
          background-size: 12px;
          background-position: 95%;
          background: #fff;
      }
      
      .geo-location .Button--primary{
      	cursor: pointer;
      }

      .geo-location .modal-inner{
		width: 450px;
      }
      
      .Header__Logo{
      	width: 100%;
      }
      
      .gleheader {
          margin: 10px -15px 0;
          background: #666;
          padding: 10px;
      }
      
      .glTitle {
          text-transform: uppercase;
          font-size: 28px;
          font-family: Roboto,Open Sans,Helvetica,Arial,sans-serif;
          color: #fff;
          font-weight: 200;
          text-align: center;
      }
      .changeShipping{
      	cursor: pointer;
        margin-top: 10px;
        text-decoration: underline;
    	font-weight: bold !important;
      }
      
      .top-title{
      	letter-spacing: 0.3rem;
    	font-size: 25px;
        text-align: center;
      }
      
      .change-country__body--separator {
          background: url(https://cdn.shopify.com/s/files/1/0323/5574/5932/files/divider.png?v=1606825913);
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          max-width: 32.5rem;
          height: 2.5rem;
          margin: 1rem auto;
      }
      .geo-location.modal{
      	z-index: 999999;
      }
      
      .geo-location.modal .Button{
      	padding: 14px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
		margin: 0 auto;
      }
      
      .geo-location.modal .close {
          padding: 0px 5px;
      }
      .geo-location .model-wht-txt{
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
		display: block;
      }
      
      .geo-location .modal-wht-header{
            display: flex;
        padding: 10px 15px;
        background: #000;
        
      }
      .geo-location .modal-btn-bottom{
        display: flex !important;
        margin-top: 10px;
      }

      
      @media screen and (max-width: 640px){
        .top-title{
        	font-size: 15px;
        }
        .glTitle{
        	font-size: 16px;
        }
        .geo-location .modal-inner{
        	width: 95%;
        }
        .change-country__body--separator {
            height: 1.5rem;
            margin: 0.5rem auto;
        }
      }
</style>